<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.sunrise.spring.dao.MemberDAO">
	<insert id="insertMember">
		insert into member(me_id, me_name, me_rn, me_gender, me_pw, me_email, me_post_code, me_addr, me_addr_detail, me_phone, me_job, me_s_id, me_s_limit, me_code)
		values(#{me_id}, #{me_name}, #{me_rn}, #{me_gender}, #{me_pw}, #{me_email}, #{me_post_code}, #{me_addr}, #{me_addr_detail}, #{me_phone}, #{me_job}, #{me_s_id}, #{me_s_limit}, #{me_code})
	</insert>
	<select id="selectMember" resultType="kr.sunrise.spring.vo.MemberVO">
		select * from member where me_id = #{me_id}
	</select>
	<update id="updatePos">
		update member set me_pos = #{me_pos} where me_id = #{me_id}
	</update>
	<update id="updatePosCount">
		update member set me_pos_count = me_pos_count + 1 where me_email = #{me_email}
	</update>
	<insert id="insertBusinessMember">
		insert into businessmember (bm_me_id, bm_number)
		values(#{bm_me_id}, #{bm_number})
	</insert>
	<!-- 자동로그인 -->
	<update id="updateMemberSession">
		update member set
			me_s_id = #{me_s_id},
			me_s_limit = #{me_s_limit}
		where me_id = #{me_id}
	</update>
	<select id="selectMemberBySession" resultType="kr.sunrise.spring.vo.MemberVO">
		select * from member where me_s_id = #{me_s_id} and me_s_limit > now()
	</select>
	<!-- 아이디찾기 -->
	<select id="selectIdList" resultType="kr.sunrise.spring.vo.MemberVO">
		select * from member where me_name = #{m.me_name} and me_email = #{m.me_email}
	</select>
	<select id="selectMemberByIdEmail" resultType="kr.sunrise.spring.vo.MemberVO">
		select * from member where me_id = #{m.me_id} and me_email = #{m.me_email}
	</select>
	<update id="updateMember">
		update member set
			me_gender = #{me_gender},
			me_pw = #{me_pw},
			me_email = #{me_email},
			me_post_code = #{me_post_code},
			me_addr = #{me_addr},
			me_addr_detail = #{me_addr_detail},
			me_phone = #{me_phone},
			me_job = #{me_job},
			me_authority = #{me_authority}
		where me_id = #{me_id}
	</update>
	<select id="selectBmList" resultType="kr.sunrise.spring.vo.BusinessMemberVO">
		select * from businessmember
	</select>
	<update id="updatePosPermit">
		update businessmember set
			bm_pos = #{bm_pos}
		where bm_me_id = #{bm_me_id}
	</update>
	<update id="updatePosCancel">
		update businessmember set
			bm_pos = #{bm_pos}
		where bm_me_id = #{bm_me_id}
	</update>
</mapper>
